@model WebMarket.Entities.Category

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="font-weight: 700;">Edit Category</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" type="hidden" class="form-control " />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control d-lg-none" />
                <input name="file" id="imgInp" type="file" />
                <img id="blah" src="@Url.Content(Model.Image)" width="150px" height="150px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script src="~/js/readURL.js"></script>
}
