@model WebMarket.Entities.Type

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="font-weight: 700;">Edit Type</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategory" class="control-label"></label>
                <div style="display:flex">
                    <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory" required></select>
                    <a href="~/Admin/CategoryManager" target="_blank" style="margin-left: 20px; margin-top: 10px;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

