@model WebMarket.Models.RegisterVM

@{
    ViewData["Title"] = "Login";
}
@section css{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <style>
        label.error {
            color: orangered;
            font-size:14px;
            font-family:'Times New Roman', Times, serif
        }

        .btn-user {
            margin-top: 20px;
            font-size: 1rem;
            border-radius: 10rem;
            padding: 0.75rem 1rem;
            background-color: red;
            color:white;
        }
    </style>
}
<!-- register -->

<div class="register">
    <div class="container">
        @ViewBag.Status
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>
            <form id="register-form" method="post" asp-action="Register" asp-controller="Customer">
                <input asp-for="customer.Name" type="text" placeholder="Full Name..." required>
                <input asp-for="customer.Address" type="text" placeholder="Address..." required>
                <input asp-for="customer.Phone" type="text" placeholder="Phone numbers..." required>
                <br /><label asp-for="customer.Date"> Date of birth</label>
                <input asp-for="customer.Date" type="date" placeholder="Date of birth...">
                <h6>Login information</h6>
                <input asp-for="account.UserName" type="email" placeholder="Email Address" required>
                <input asp-for="account.PassWord" type="password" placeholder="Password" required>
                <input asp-for="account.PasswordConfirm" type="password" placeholder="Password Confirmation" required>
                <div class="register-check-box">
                    <div class="check">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>I accept the terms and conditions</label>
                    </div>
                </div>
                <input type="submit" value="Register">
            </form>
            <hr />
            <a href="@Url.Action("LoginGmail","Customer",new { type="register"})" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
            </a>
        </div>

    </div>
</div>
<!-- //register -->
@section Scripts{
    <script src="~/js/validate.js"></script>
}
