@model IEnumerable<WebMarket.Entities.Type>

@{

    ViewData["Title"] = "View";
}

<div class="categories">
    <h2>@ViewBag.namecate</h2>
    <ul class="cate">
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("ProductByType","Category",new { name = ViewBag.namecate,type = item.Name})" class="type"><i class="fa fa-arrow-right" aria-hidden="true"></i>@item.Name</a></li>
        }

    </ul>
</div>


