.checkout-left-basket ul li:last-child {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.checkout-left-basket ul li:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

.checkout-left-basket ul li:nth-last-child(2) {
    margin-bottom: 0;
}

.payment-btn {
    color: white;
    background: #fe9126;
    font-size: 1.1em;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    width: 100%;
    line-height: 1.1em;
}

    .payment-btn:hover {
        background: #ff7e00;
        color: white;
    }

.checkout-left-basket{
    width:100%
}
.checkout-left{
    margin:0 0;
}
.input-group{
    width:100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:0.5em;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: separate;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-append .btn {
    position: relative;
    z-index: 2;
}
[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-secondary:hover {
    background: #444;
    color: #fff;
}
.btn-payment {
    color: #fff;
    background: #fe9126;
    font-weight: 600;
    line-height: 1.1em;
}

    .btn-payment:hover {
        color: #fff;
        background: #fc7706;
    }

.hd-payment {
    color: #3399cc;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:15px;
}
.mb-3{
    margin-bottom:1rem;!important
}